main {
  width: 600px;
  margin: 0 auto;
}

#main {
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
}

#main.shadow {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

nav {
  margin-bottom: 18px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

img {
  vertical-align: bottom;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 112px);
  gap: 10px;
}

.thumbnails li {
  cursor: pointer;
  opacity: 0.4;
}

.thumbnails li:hover,
.thumbnails li.current {
  opacity: 1;
}

.thumbnails img {
  width: 112px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  border-radius: 4px;
  font-size: 30px;
  padding: 4px;
  text-align: center;
  color: #fff;
  background: #556b2f;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

nav li:hover {
  margin: 0;
  background: #88b835;
  box-shadow: 0 10px 0 #556b2f;
}

nav li:active {
  box-shadow: 0 5px 0 #556b2f;
  margin-top: 10px;
}

#play {
  width: 300px;
  height: 50px;
  letter-spacing: 0.09em;
}

#prev,
#next {
  width: 120px;
  height: 50px;
}
